body{
 background-color: skyblue !important;
}

.subcont-1{
    background-color: white;
    display: inline-block;
    position:relative;
    top: 200px;
    left: 275px;
}
.inner-div{
    width: 600px;
    height: 200px;
    padding: 20px;
}