body {
    background-color:#12B0E8;
}
.name-box{
background-color: beige;
height:200px;
width:400px;
}

.main-box{
    height: 100%;
    width:100%;
}
.main-box h2{
    margin-top: 2vh;
    margin-left:2vh ;

}
